<div class="container">
  <h1 class="text-center">Restaurants</h1>

  <div class="flex-center">
    <div>
      <% @restaurants.each do |restaurant| %>
        <p>
          <%= link_to restaurant.name, restaurant_path(restaurant) %>
          <%= link_to restaurant, method: :delete, remote: true do %>
            <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
        </p>
      <% end %>
    </div>
  </div>

  <div class="flex-center mt-4" data-controller="counter">
    <div class="counter">
      <span data-target="counter.count"><%= @restaurant_count %></span>
    </div>
  </div>
  <div class="flex-center mt-2">
    <p>This counter was built with stimulus: every 5sec, it fetches the number of restaurants in the database et displays it.</p>
  </div>
</div>
